$light-mode: #fff;
$dark-mode: #222;
$base-color: #c6538c;
$border-light: rgba($base-color, 0.88);
$border-dark: rgba($base-color, 0.88);

body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
}
 
.top-container {
  display: flex;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: #213547;
  cursor: pointer;
  transition: border-color 0.25s;
}

a {
  font-weight: 500;
}

.listing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-mode;
  border-radius: 6px;
  padding-left: 5px;
  button {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active-checkbox {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    border-radius: 8px;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto 0;
  width: 80%;
  box-sizing: border-box;
  .file-input {
    margin: 16px 0;
  }
  .css-input {
    resize: vertical;
  }
  .style-form-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.new-form {
  border: #111 solid 2px;
  border-radius: 8px;
  padding: 8px 5px;
}

.editing-form {
  width: 100%;
  margin: 6px 0;
}

.form-input-container {
  display: flex;
  gap: 8px;
  button {
    width: unset;
    border: 2px solid $border-light;
    display: flex;
    place-items: center;
  }
}

body {
  margin: 0;
  display: flex;
  width: 350px;
  height: 420px;
}

.listings {
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding: 2px;
  gap: 2px;
  border-radius: 8px;
  width: 80%;
}

.home-head {
  display: flex;
  align-items: center;
  margin: 5px 2px;
  width: 80%;
  search {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    input {
      width: 95%;
      height: 36px;
      font-size: 1.5rem;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 2px;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #111;
  height: 100%;
  justify-content: space-between;
  a {
    background-color: $light-mode;
    padding: 10px;
    background-color: transparent;
    display: flex;
    place-items: center;
  }
  .bottom-spacing-nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 25%;
    gap: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
  }
}
 
.top-container {
  height: 100%;
}

.confirm-modal {
  position: absolute;
  width: 240px;
  height: 140px;
  top: calc(50% - 70px);
  left: calc(50% - 120px);
  border: #ddd 2px solid;
  background-color: $light-mode;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  box-shadow: rgb(17, 17, 17, .88) 0px 2px 11px 1px, rgb(0, 0, 0, .88) 0px 0px 16px -8px;
  .modal-buttons {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: center;
    button {
      font-weight: 700;
      background-color: #444;
      border: #ddd 2px solid;
      width: unset;
      box-shadow: rgb(17, 17, 17, .88) 0px 2px 4px 0px, rgb(0, 0, 0, .88) 0px 0px 7px -2px;
    }
    .modal-action {
      background-color: rgb(160, 0, 0);
    }
  }
}

.editing-listing {
  flex-direction: column;
  padding: 0 5px;
  .editing-display-name {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }
}

.settings-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;

  .settings-buttons-container {
    display: flex;
    gap: 12px;
    button {
      border: solid 1px $border-light;
    }
  }

  .light-dark-selector-container {
    display: flex;
    justify-content: center;
  }
}

.dark-mode{
  nav a svg path {
    fill: white;
  }
  button {
    background-color: transparent;
    color: white;
  }
  nav a:visited { 
    color: white;
  }
  .listing {
    background-color: $dark-mode;
  }
  .confirm-modal {
    background-color: $dark-mode;
  }
}

